<h1 class="text-center">Окулист</h1>

<body>
<div class="doctors-container">
  <div class="doctor-card">
    <img class="doctor-photo" src="assets/vrach.jpg" alt="Фото доктора">
    <div class="doctor-info">
      <h2 class="doctor-name">Доктор Иванов</h2>
      <p class="doctor-specialty">Терапевт</p>
      <p class="doctor-contact">Контактная информация: 123-456-789</p>
      <p class="doctor-contact">Адрес: ул. Первая, 123</p>
      <p class="doctor-contact">Цена посещения: $50</p>
      <p class="doctor-contact">Информация по специальности: Терапевт с опытом работы 10 лет.</p>
      <p class="appointment-info">Возможное время записи на прием: понедельник - пятница, 9:00 - 17:00</p>
    </div>
    <div class="appointment-section">
      <form class="appointment-form">
        <input class="appointment-date" type="date">
        <input class="appointment-time" type="time">
        <button class="appointment-submit" type="submit">Записаться</button>
      </form>
    </div>
  </div>

  <div class="doctor-card">
    <img class="doctor-photo" src="assets/vrach.jpg" alt="Фото доктора">
    <div class="doctor-info">
      <h2 class="doctor-name">Доктор Петрова</h2>
      <p class="doctor-specialty">Стоматолог</p>
      <p class="doctor-contact">Контактная информация: 987-654-321</p>
      <p class="doctor-contact">Адрес: ул. Вторая, 456</p>
      <p class="doctor-contact">Цена посещения: $80</p>
      <p class="doctor-contact">Информация по специальности: Стоматолог с опытом работы 8 лет.</p>
      <p class="appointment-info">Возможное время записи на прием: вторник - суббота, 10:00 - 18:00</p>
    </div>
    <div class="appointment-section">
      <form class="appointment-form">
        <input class="appointment-date" type="date">
        <input class="appointment-time" type="time">
        <button class="appointment-submit" type="submit">Записаться</button>
      </form>
    </div>
  </div>

  <div class="doctor-card">
    <img class="doctor-photo" src="assets/vrach.jpg" alt="Фото доктора">
    <div class="doctor-info">
      <h2 class="doctor-name">Доктор Сидоров</h2>
      <p class="doctor-specialty">Окулист</p>
      <p class="doctor-contact">Контактная информация: 555-555-555</p>
      <p class="doctor-contact">Адрес: ул. Третья, 789</p>
      <p class="doctor-contact">Цена посещения: $60</p>
      <p class="doctor-contact">Информация по специальности: Окулист с опытом работы 12 лет.</p>
      <p class="appointment-info">Возможное время записи на прием: понедельник - пятница, 8:00 - 16:00</p>
    </div>
    <div class="appointment-section">
      <form class="appointment-form">
        <input class="appointment-date" type="date">
        <input class="appointment-time" type="time">
        <button class="appointment-submit" type="submit">Записаться</button>
      </form>
    </div>
  </div>
</div>
</body>

