<h1 class="display-4">Обновление докторов</h1>
<!-- Форма для обновления данных -->
<form>
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg0">ФИО: </span>
    <input type="text" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  </div>
  <h3></h3>
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg1">Краткое описание: </span>
    <input type="text" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  </div>
  <h3></h3>
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg2">Цена посещения: </span>
    <input type="number" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  </div>
  <h3></h3>
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg3">Номер телефона: </span>
    <input type="text" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  </div>
  <h3></h3>
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg4">Опыт: </span>
    <input type="text" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  </div>
  <h3></h3>

  <p></p>
  <button type="button" class="btn btn-outline-success">Обновить данные</button>
</form>
