<h1>Добавление новой больницы!</h1>

<div class="form-group">
  <label>Наименование поликлиники</label>
  <input type="text"  class="form-control" />

  <label>Город</label>
  <input type="text"  class="form-control" />

  <label>Контактный номер</label>
  <input type="number"  class="form-control" />

  <label>Фото</label>
  <input type="text"  class="form-control" />

</div>

<div class="butt">
  <input type="button" value="Сохранить"  class="btn btn-success" />
  <input type="button" value="Отмена"  class="btn btn-warning" />
</div>
