<h1 class="display-4">Обновление Поликлиник</h1>
<!-- Форма для обновления данных -->
<form>
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg">Наименование поликлиники:</span>
    <input type="text" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  </div>
  <h3></h3>
  <select class="form-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1">Kamenka</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <h3></h3>
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg-3">Контактный номер: </span>
    <input type="text" name="number" placeholder="(077) 873 442" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  </div>
  <h3></h3>
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg-4">Фото: </span>
    <input type="text" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  </div>

  <p></p>
  <button type="button" class="btn btn-outline-success">Обновить данные</button>
</form>
