<h1>Добро пожаловать в поликлинику HomeDoctor</h1>
<h4>Выберите нужного вам врача.</h4>
<h1></h1>
<body>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col h-100">
      <a routerLink="/cities" style="text-decoration: none;">
      <div class="card">
        <img src="assets/hirurg.jpg" class="center-image" alt="Хирург">
        <div class="card-body">
          <h5 class="card-title">Хирург</h5>
          <p class="card-text">7 врачей</p>
        </div>
      </div>
      </a>
    </div>
    <div class="col h-100">
      <a routerLink="/cities" style="text-decoration: none;">
      <div class="card">
        <img src="assets/zub.jpg" class="center-image" alt="Зубной врач">
        <div class="card-body">
          <h5 class="card-title">Зубной врач</h5>
          <p class="card-text">4 врача</p>
        </div>
      </div>
      </a>
    </div>
    <div class="col h-100">
      <a routerLink="/cities" style="text-decoration: none;">
      <div class="card">
        <img src="assets/terapevt.jpg" class="center-image" alt="Терапевт">
        <div class="card-body">
          <h5 class="card-title">Терапевт</h5>
          <p class="card-text">4 врача</p>
        </div>
      </div>
      </a>
    </div>
      <div class="col h-100">
        <a routerLink="/cities" style="text-decoration: none;">
          <div class="card ">
            <img src="assets/psiholog.jpg" class="center-image" alt="Психолог">
            <div class="card-body">
              <h5 class="card-title">Психолог</h5>
              <p class="card-text">6 врачей</p>
            </div>
          </div>
        </a>
      </div>
  <div class="col h-100">
    <a routerLink="/cities" style="text-decoration: none;">
      <div class="card">
        <img src="assets/okulist.jpg" class="center-image" alt="Окулист">
        <div class="card-body">
          <h5 class="card-title">Окулист</h5>
          <p class="card-text">2 врача</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col h-100">
    <a routerLink="/cities" style="text-decoration: none;">
    <div class="card">
      <img src="assets/travmatolog.jpg" class="center-image" alt="Травматолог">
      <div class="card-body">
        <h5 class="card-title">Травматолог</h5>
        <p class="card-text">3 врача</p>
      </div>
    </div>
    </a>
  </div>
</div>
</body>
<h1></h1>
<footer>
  <div class="container">
    <p>&copy; 2023 Медицинская страница. Все права защищены.</p>
    <p>Сайт разработан и поддерживается <a href="">Kirill Company</a>.</p>
  </div>
</footer>

