
<body>
  <h1>Добро пожаловать в поликлинику HomeDoctor</h1>
  <h4>Выберите нужного вам врача.</h4>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col h-100">
      <a routerLink="/city" style="text-decoration: none;">
      <div class="card ">
          <img src="assets/psiholog.jpg" class="card-img-top" alt="Психолог">
          <div class="card-body">
            <h5 class="card-title">Психолог</h5>
            <p class="card-text">15 врачей</p>
          </div>
        </div>
      </a>
    </div>
  </div>
    <div class="col h-100">
      <div class="card">
        <img src="assets/hirurg.jpg" class="card-img-top" alt="Хирург">
        <div class="card-body">
          <h5 class="card-title">Хирург</h5>
          <p class="card-text">7 врачей</p>
        </div>
      </div>
    </div>
    <div class="col h-100">
      <div class="card">
        <img src="assets/zub.jpg" class="card-img-top" alt="Зубной врач">
        <div class="card-body">
          <h5 class="card-title">Зубной врач</h5>
          <p class="card-text"> 4 врача</p>
        </div>
      </div>
    </div>
    <div class="col h-100">
      <div class="card">
        <img src="assets/terapevt.jpg" class="card-img-top" alt="Терапевт">
        <div class="card-body">
          <h5 class="card-title">Терапевт</h5>
          <p class="card-text"> 4 врача</p>
        </div>
      </div>
    </div>


</body>
