<h1>Добавление нового доктора</h1>

<div class="form-group">
  <label>ФИО</label>
  <input type="text"  class="form-control" />

  <label>Специализация</label>
  <input type="text"  class="form-control" />

  <label>Поликлиника </label>
  <input type="text"  class="form-control" />

  <label>Стоимость приема</label>
  <input type="number"  class="form-control" />

  <label>Номер телефона</label>
  <input type="number"  class="form-control" />

  <label>Фото</label>
  <input type="text"  class="form-control" />

  <label>Опыт по специальности</label>
  <input type="text"  class="form-control" />

  <label>Краткое описание</label>
  <input type="text"  class="form-control" />

  <label>Полное описание</label>
  <input type="text"  class="form-control" />

</div>

<div class="butt">
  <input type="button" value="Сохранить"  class="btn btn-success" />
  <input type="button" value="Отмена"  class="btn btn-warning" />
</div>
